.trending_section h2{
    font-family: inherit;
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin-top: 60px;
    margin-bottom: 40px;
}

.trending_section img{
    height: 400px;
    width: 600px;
} 

.trending_section p{
    font-size: 15px;
    font-family: inherit;
    color: white;
}

.trending_card:hover{
    transform: scale(1.2);
}
