.popular_section h2{
    font-family: inherit;
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin-top: 60px;
    margin-bottom: 40px;
}

.popular_section img{
    height: 400px;
    width: 600px;
} 

.popular_section p{
    font-size: 15px;
    font-family: inherit;
    color: white;
}

.popular_card:hover{
    transform: scale(1.1);
}
