.watchlist_div{
    background-color: black;
    height: 98.81vh;
    width: 100%;
    
}

.watchlist_heading{
        color: white;
        margin: 20px 200px;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
}

.watchlist_li{
    color: white;
}

.watchlist_section{
    display: flex;
    flex-direction: row;
    gap: 2px;
    
}