.home_page{
color: white;
min-width: 1000px;
}

.hero_section img{
    height: 580px;
    width: 550px;
}

.hero_section p{
    border: none;
    background: transparent;
    font-size: medium;
    font-weight: 800;
}