

.hero_section img{
    height: 580px;
    width: 570px;
    object-fit: cover;
    object-position: 100% 0;
}

.hero_section p{
    border: none;
    background: transparent;
    font-size: medium;
    font-weight: 800;
}