/* @import"https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap"; */
body{
    background-color: black
}
/* .logo{
    width: 10px;
    height: 10px;
} */
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    min-width: 1000px;
}

.nav_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin: 26px 0;
}

.nav_item{
    padding: 0 18px;
    text-decoration: none;
}

.nav_item:hover{
    transform: scale(1.1);
    text-decoration-line: underline;
}

.search_bar{
    display: flex;
    flex-direction: unset;
    justify-content: center;
    
}

.search_bar input{
    border: none;
    width: 400px;
    background-color: transparent;
    border-radius: 10px;
    color: white;
}

/* .search_button{
    border: none;
} */

/* .user_actions{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.Lang_btn{
    color: white;
    margin: 0 2px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 20px;
    background-color: black;
    
}

.plan_btn{
    background-color: #8230c6;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 800;
    display: inline-block;
    display: flex;
    align-items: center;
    padding: 9px 10px;
    width: 100px;
    border: 1px solid white;
}

.login_btn{
    color: white;
    border-radius: 4px;
    text-align: center;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    background-color: green;
}

.last_btn{
    color: white;
    border: none;
    font-size: 25px;
    padding: 20px;
    background-color: black;
}